.collapse-button {
    display: inherit;
    margin-left: auto;
}

.comment-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2px;
    color: gray;
    background: inherit;
    width: 50px;
    align-items: stretch;
    cursor: pointer;
}

.comment-button:hover {
    color: dodgerblue;
}

.like-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2px;
    color: gray;
    background: inherit;
    width: 50px;
    align-items: stretch;
    cursor: pointer;
}

svg {
    color: gray;
}

.svg-test {
    color: inherit;
    height: 1.25em;
    width: 1.25em;
}

.like-button:hover {
    color: hotpink;
}

.like-button-liked {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2px;
    color: hotpink;
    width: 50px;
    cursor: pointer;
}

.repost-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2px;
    color: gray;
    background: inherit;
    width: 50px;
    align-items: stretch;
    cursor: pointer;
}

.repost-button:hover {
    color: limegreen;
}

.repost-button-reposted {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2px;
    color: limegreen;
    width: 50px;
    cursor: pointer;
}

.share-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2px;
    color: gray;
    background: inherit;
    width: 50px;
    align-items: stretch;
    cursor: pointer;
}

.share-button:hover {
    color: dodgerblue;
}